.flex-container_playlist {
    display: flex;
    justify-content: center;
  }
  
  .flex-container_playlist > div {
    background-color: #362141;
    width: 40px;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
    border-radius: 50%;
  }
